# EPP INTERFACE ON PCB-2
# DB1 P4 on v004
# DB2 P1 on v002
# DB3 P2 on V002
# LEDS USE EXISTING SPI CONNECTOR P2
NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 19.9 ns HIGH 50 %;
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 50 ns;
# SPI Pins will need checking
# Tentativley they are
#SPI_CLK P84
#SPI_MOSI P83
#SPI_MISO P82
#SPI_CS P81

# BEGIN_EPP
# EPP DATA LINES 
NET	"EPP_DATABUS<0>"		LOC ="P62"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO4
NET	"EPP_DATABUS<1>"		LOC ="P61"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO14
NET	"EPP_DATABUS<2>"		LOC ="P58"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO15
NET	"EPP_DATABUS<3>"		LOC ="P57"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO18
NET	"EPP_DATABUS<4>"		LOC ="P56"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO27
NET	"EPP_DATABUS<5>"		LOC ="P51"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO22
NET	"EPP_DATABUS<6>"		LOC ="P50"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO23
NET	"EPP_DATABUS<7>"		LOC ="P48"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO24
# EPP CTRL LINES
NET	"EPP_DSTROBE" 		   LOC ="P67"	 	| IOSTANDARD = LVTTL  | PULLUP ; # RPIO17
NET	"EPP_ASTROBE" 		   LOC ="P59"	 	| IOSTANDARD = LVTTL  | PULLUP ; # RPIO17
NET	"EPP_READ" 		      LOC ="P66"	 	| IOSTANDARD = LVTTL  | PULLUP ; # RPIO2 SHOWN as READ on schematic
NET	"EPP_WAIT"		      LOC ="P47"	 	| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; # RPIO10
# END_EPP

# BEGIN_NO_EXT_CONN
# No connection to external pcbs
NET	"RECONFIG"	         LOC ="P93"		| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"NINIT"		         LOC ="P92"		| IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; 
# END_NO_EXT_CONN

# BEGIN_SPI_EEPROM
# FPGA TO EEPROM CONFIG
NET	"SPICS"		         LOC ="P38"	 	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"SPIIN"		         LOC ="P65"	 	| IOSTANDARD = LVTTL ;
NET	"SPIOUT"	            LOC ="P64"	 	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"SPICLK"	            LOC ="P70"	 	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"CLK"		            LOC ="P55"	 	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
# END_SPI_EEPROM

# BEGIN_LEDS
# LEDS v004
NET	"LEDS<0>"	         LOC ="P79"	 	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET	"LEDS<1>"	         LOC ="P80"	 	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET	"LEDS<2>"	         LOC ="P74"	 	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET	"LEDS<3>"	         LOC ="P78"	 	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
# END_LEDS

# BEGIN_DB1
# PCB V0.4 P4
NET	"IOBITS<0>"	         LOC ="P27" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-01
NET	"IOBITS<1>"	         LOC ="P24" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-02
NET	"IOBITS<2>"	         LOC ="P22" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-03
NET	"IOBITS<3>"	         LOC ="P17" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-04
NET	"IOBITS<4>"	         LOC ="P30" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-05
NET	"IOBITS<5>"	         LOC ="P29" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-06
NET	"IOBITS<6>"	         LOC ="P33" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-07
NET	"IOBITS<7>"	         LOC ="P32" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-08
NET	"IOBITS<8>"	         LOC ="P35" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-09
NET	"IOBITS<9>"	         LOC ="P34" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-10
NET	"IOBITS<10>"         LOC ="P41" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-11
NET	"IOBITS<11>"         LOC ="P40" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-12
NET	"IOBITS<12>"         LOC ="P43" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-13
NET	"IOBITS<13>"         LOC ="P26" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-14
NET	"IOBITS<14>"         LOC ="P23" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-15
NET	"IOBITS<15>"         LOC ="P21" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-16
NET	"IOBITS<16>"         LOC ="P16" 		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB1-17
#END_DB1

# P5
# PCB V0.4 P5         
NET	"IOBITS<17>"         LOC ="P46"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-2
NET	"IOBITS<18>"         LOC ="P45"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-3
NET	"IOBITS<19>"	      LOC ="P44"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-4


# BEGIN_DB2 
# PCB V0.2 P1      
NET	"IOBITS<20>"         LOC ="P12"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-01
NET	"IOBITS<21>"	      LOC ="P10"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-02
NET	"IOBITS<22>"	      LOC ="P8"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-03
NET	"IOBITS<23>"	      LOC ="P6"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-04
NET	"IOBITS<24>"	      LOC ="P137"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-05
NET	"IOBITS<25>"	      LOC ="P138"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-06
NET	"IOBITS<26>"	      LOC ="P139"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-07
NET	"IOBITS<27>"	      LOC ="P140"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-08
NET	"IOBITS<28>"	      LOC ="P141"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-09
NET	"IOBITS<29>"	      LOC ="P142"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-10
NET	"IOBITS<30>"	      LOC ="P143"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-11
NET	"IOBITS<31>"	      LOC ="P1"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-12
NET	"IOBITS<32>"	      LOC ="P2"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-13
NET	"IOBITS<33>"	      LOC ="P11"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-14
NET	"IOBITS<34>"	      LOC ="P9"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-15
NET	"IOBITS<35>"	      LOC ="P7"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-16
NET	"IOBITS<36>"	      LOC ="P5"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB2-17
#END_DB2
# V002 P3 (36&37 SILKSCREEN)
NET	"IOBITS<37>"	      LOC ="P105"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-4
NET	"IOBITS<38>"	      LOC ="P101"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-6
NET	"IOBITS<39>"	      LOC ="P99"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-8

# BEGIN_DB3
NET	"IOBITS<40>"	      LOC ="P134"		| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-01
NET	"IOBITS<41>"	      LOC ="P132"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-02
NET	"IOBITS<42>"	      LOC ="P127"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-03
NET	"IOBITS<43>"	      LOC ="P124"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-04
NET	"IOBITS<44>"	      LOC ="P112"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-05
NET	"IOBITS<45>"	      LOC ="P114"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-06
NET	"IOBITS<46>"	      LOC ="P115"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-07
NET	"IOBITS<47>"	      LOC ="P116"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-08
NET	"IOBITS<48>"	      LOC ="P117"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-09
NET	"IOBITS<49>"	      LOC ="P118"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-10
NET	"IOBITS<50>"	      LOC ="P119"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-11
NET	"IOBITS<51>"	      LOC ="P120"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-12
NET	"IOBITS<52>"	      LOC ="P121"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-13
NET	"IOBITS<53>"	      LOC ="P133"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-14
NET	"IOBITS<54>"	      LOC ="P131"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-15
NET	"IOBITS<55>"	      LOC ="P126"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-16
NET	"IOBITS<56>"	      LOC ="P111"	  	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # DB3-17
# END_DB3

# V002 P3 (SILKSCREEN38-39)
NET	"IOBITS<57>"	      LOC ="P102"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-3
NET	"IOBITS<58>"	      LOC ="P100"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-5
NET	"IOBITS<59>"	      LOC ="P98"	 	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ; # P5-7


# v004 P5 (SILKSCREEN 57-58-59)
# Linuxcnc drivers will need to be modded
# NET	"IOBITS<57>"	      LOC ="P46"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
# NET	"IOBITS<58>"	      LOC ="P45"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
# NET	"IOBITS<59>"	      LOC ="P44"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;


#NET	"OPTS<1>"		LOC ="P55"	 | IOSTANDARD = LVTTL ;
#NET	"OPTS<0>"		LOC ="P51"	 | IOSTANDARD = LVTTL ;

#NET	"DONE"		LOC ="P71"	 ;
#NET	"RDWR"		LOC ="P47"	 ;
#NET	"PROGRAM"	LOC ="P37"	 ;
#NET	"M0"		LOC ="P69"	 ;
#NET	"FPGATMS"	LOC ="P107"	 ;
#NET	"FPGATDI"	LOC ="P110"	 ;
#NET	"FPGATDO"	LOC ="P106"	 ;
#NET	"FPGACLK"	LOC ="P109"	 ;
#NET	"HOST5"		LOC ="P59"	 ;
